

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#62537f;
		
	}
	&.emColorStyle02{
		background:#B30707;
		
	}
	&.emColorStyle03{
		background:#e76f32;
		
	}
	&.emColorStyle04{
		background:#488e53;
		
	}
}