.em-main-container{
	.em-wrapper-banners,
	.img-banner,
	.em-wrapper-ads-15,
	.em-wrapper-ads-10 .em-blog-item{
		margin-bottom:$space_small_block;
	}
	.em-line-01{
		margin-bottom:$space_small_block;
		&.em-new-arrivals-tabs{
			margin-bottom:0;
		}
	}
}

.em-wrapper-main .container-main{
	padding-top: 25px;
}
.em-wrapper-ads-13{
	margin-bottom:$space_block;
}

.em-slideshow{
	margin-bottom:$space_small_block;
	.owl-carousel{
		.owl-item{
			.em-owlcarousel-des{				
				width: 70%;
				left:14%;
				top:23%;
				h3{
					&:before{
						display:none;
					}					
				}
			}
		}
	}
	.owl-theme .owl-controls .owl-buttons div{
		top:41%;
	}
}

.em-wrapper-brands{
	margin-bottom:$space_block;
	.slider-style02{
		margin:0;
	}
}



/*hide btn in block tab*/
.em-new-arrivals-tabs{
	.r-tabs .r-tabs-panel{
		padding-bottom:0;
	}
}



/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#33ccff;
		&:before{background:#ffffff;}
		&:after{background:#000000;}
	}
	&.emColorStyle02{
		background:#fd3262;
		&:before{background:#ffffff;}
		&:after{background:#000000;}
	}
	&.emColorStyle03{
		background:#7b344f;
		&:before{background:#ffffff;}
		&:after{background:#000000;}
	}
	&.emColorStyle04{
		background:#ff0099;
		&:before{background:#ffffff;}
		&:after{background:#000000;}
	}
}