.em-introduction-block{
	margin-bottom:$space_block;
	overflow:hidden;
	margin-top:40px;
	.page-title span{
		display: inline-block;
		zoom: 1;
		position: relative;
		padding:0 10rem;
		&:after,
		&:before{
			position: absolute;
			content: '';
			top: 0;
			height: 100%;
			width: 75px;
			background-repeat: no-repeat;
		}
		&:before{
			right: 0;
			background-image:url(../images/icon-title.png);			
			background-position: right center;
		}
		&:after{
			background-image:url(../images/icon-title.png);			
			background-position: 0 center;
			left: 0;
		}
	}
	.em-introduction-desc{font-size:130%;}
}

.img-responsive{
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#f9ad7b;
	}
	&.emColorStyle02{
		background:#ba171a;
	}
	&.emColorStyle03{
		background:#446aa7;
	}
	&.emColorStyle04{
		background:#aacf9b;
	}
}