<?xml version="1.0"?>
<config>
  <modules>
    <Sugoi_ContactMobile>
      <version>0.1.0</version>
    </Sugoi_ContactMobile>
  </modules>
  <global>
    <helpers>
      <contactmobile>
        <class>Sugoi_ContactMobile_Helper</class>
      </contactmobile>
    </helpers>
	<models>
	  <contactmobile>
		<class>Sugoi_ContactMobile_Model</class>
		<resourceModel>contactmobile_mysql4</resourceModel>
	  </contactmobile>
	</models>
	<resources>
	  <customerattribute1450616835_setup>
		<setup>
		  <module>Sugoi_ContactMobile</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1450616835_setup>
	  <customerattribute1450616835_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1450616835_write>
	  <customerattribute1450616835_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1450616835_read>
	</resources>
  </global>
</config> 