<?xml version="1.0"?>
<config>
  <modules>
    <Sugoi_AdditionalRegistration>
      <version>0.1.0</version>
    </Sugoi_AdditionalRegistration>
  </modules>
  <global>
    <helpers>
      <additionalregistration>
        <class>Sugoi_AdditionalRegistration_Helper</class>
      </additionalregistration>
    </helpers>
	<models>
	  <additionalregistration>
		<class>Sugoi_AdditionalRegistration_Model</class>
		<resourceModel>additionalregistration_mysql4</resourceModel>
	  </additionalregistration>
	</models>
	<resources>
	  <customerattribute1449992276_setup>
		<setup>
		  <module>Sugoi_AdditionalRegistration</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1449992276_setup>
	  <customerattribute1449992276_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1449992276_write>
	  <customerattribute1449992276_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1449992276_read>
	</resources>
  </global>
</config> 