<config>
    <modules>
        <Propoza_Propoza>
            <version>1.0.7</version>
        </Propoza_Propoza>
    </modules>
    <global>
        <resources>
            <propoza_setup>
                <setup>
                    <module>Propoza_Propoza</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </propoza_setup>
        </resources>
        <blocks>
            <propoza>
                <class>Propoza_Propoza_Block</class>
            </propoza>
        </blocks>
        <helpers>
            <propoza>
                <class>Propoza_Propoza_Helper</class>
            </propoza>
        </helpers>
        <models>
            <propoza>
                <class>Propoza_Propoza_Model</class>
            </propoza>
            <sales>
                <rewrite>
                    <quote>Propoza_Propoza_Model_Sales_Quote</quote>
                </rewrite>
            </sales>
            <salesrule>
                <rewrite>
                    <rule>Propoza_Propoza_Model_SalesRule_Rule</rule>
                </rewrite>
            </salesrule>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <propoza>
                        <class>propoza/orderPlacedObserver</class>
                        <method>checkProposalQuoteCompleted</method>
                    </propoza>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Propoza_Propoza before="Mage_Checkout">Propoza_Propoza_Checkout</Propoza_Propoza>
                    </modules>
                    <frontName>checkout</frontName>
                </args>
            </checkout>
            <propoza>
                <use>standard</use>
                <args>
                    <modules>
                        <Propoza_Propoza before="Mage_Core">Propoza_Propoza</Propoza_Propoza>
                    </modules>
                    <frontName>propoza</frontName>
                </args>
            </propoza>
        </routers>
        <layout>
            <updates>
                <propoza>
                    <file>propoza.xml</file>
                </propoza>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Propoza_Propoza_Adminhtml before="Mage_Adminhtml">Propoza_Propoza_Adminhtml</Propoza_Propoza_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <propoza>
                    <file>propoza.xml</file>
                </propoza>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <propoza>
            <general>
                <enabled>1</enabled>
            </general>
        </propoza>
    </default>
</config>
