/*$max-content-width: value screen*/
/*Category product*/
/*button style*/
/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #62537f;
}
.em-color span.emColorStyle02 {
  background: #B30707;
}
.em-color span.emColorStyle03 {
  background: #e76f32;
}
.em-color span.emColorStyle04 {
  background: #488e53;
}
